@import url('./reset-default-styles.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

html, body, #root, .App {
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header__title {
    font-size: x-large;
    font-weight: 700;
}

.App__main {
    min-height: calc(100vh - 80px);
}